$primary:#000;
$secondary:#fff;
$bg:#e8e8e8;
//$btnLinGra:  linear-gradient(90deg, rgba(25,255,195,1) 79%, rgba(24,240,253,1) 100%);
$btnLinGra:  linear-gradient(90deg, rgba(25,255,195,1) 50%, rgba(24,240,253,1) 100%);
$stars:#b5bfc0;


$gutter-horizontal: 6rem;
$shadow:#808080;

$grid-width: 1140px;

$margin-top-food-content:20px;

$default-font-size: 1.6em;
$default-font-mobile: 0.8em !important;
$default-font-tab-port: 1em !important;

$border-radius-food:30px;
$border-radius-food-name:5px;

$border-radius-food-mobile:20px;

$skeleton: #e2e2e2;